*.wfn
*.wfn.bak-*
*.restart
*.restart.bak-*
*.Hessian
*.ener
*-pos-1.xyz
*-vel-1.xyz
*.out
3ob-3-1/
.DS_Store
.ipynb_checkpoints/
test.out
melamine_test.inp
melamine_nve.inp
melamine_nvt.inp
melamine_geo_opt.inp
melamine_geo_opt-*
